@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Star Wars";
  src: url(../public/fonts/starjedi/Starjedi.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Changa";
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #242424;
}

/* text-shadow navbar title */
.text-shadow {
  text-shadow: 1px 1px 5px gold;
}

.text-shadow:hover {
    text-shadow: 3px 3px 7px gold;
}

/* longText fonts */
.text-StarWars {
  font-family: "Star Wars";
}

/* remove border radius for IOS */
.remove-border-radius {
  -webkit-border-radius: 0px;
  border-radius: 0;
}

svg {
  cursor: pointer !important;
}

@media screen and (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
}
